[Unit]
Description=VPN service
After=network.target

[Service]
ExecStart=/home/luky/Desktop/Projects/IP_location/src/vpn_service.py
Restart=always
User=luky
Environment=DISPLAY=:0
Environment="XAUTHORITY=/home/luky/.Xauthority"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target